@import '../../../scss/manifest';

.DropDown {
  position: relative;
  width: 100%;
}

.Option {
  @include font(null, 600, $dark-grey, left);
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  min-width: 100%;

  &:hover {
    color: lighten($site-blue, 10%);
  }

  &.selected {
    color: $default-color;
    background-color: transparentize(
      $color: lighten($site-blue, 25%),
      $amount: 0.5
    );
  }
}

.DropBtn {
  @include minmax-height-width(35px, 140px !important, 'min');
  @include flex-items-center();
  @include default-button(0, 0, $medium-grey, transparent);
  padding: 7px 10px;
  border: 0 none;
  margin: 2px 3px;
  width: 100%;
  position: relative;

  &:first-child {
    @include font(13.5px, 500, null, left);
    min-width: 100%;
    display: inline-block;
  }
}

.icon {
  @include transition(transform, 0.35s);
  @include position-absolute(8px, 10px, null, null);
  transform: rotate(0deg);
}

.icon.dropped {
  transform: rotate(180deg);
}
