@import '../../../scss/manifest';

.ImageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 480px;
  max-width: 100%;
  height: 480px;
  background-color: $lighter-grey;
  overflow: hidden;
}

.MainImageSection {
  @include flex(row, nowrap, center);
  height: 100%;
  position: relative;

  img {
    width: 100%;

    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.55s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.ImageRightIcon {
  position: absolute;
  z-index: 300;
  top: 10px;
  right: 15px;

  svg {
    cursor: pointer;
  }
}

.Dots {
  @include flex();
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}

.Thumbnails {
  @include flex(row, nowrap);
  max-height: 120px;
  height: 120px;
  width: 100%;
  overflow: hidden;
  border: 2px solid $dark-grey;
  position: relative;

  img {
    @include border(transparent, solid, null, 2px);
    height: 116px;
    width: 145px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }
}

.Arrows {
  @include flex(row, nowrap, center, space-between);
  z-index: 100;
  width: 100%;
  height: max-content;
  position: absolute;
}

.ZoomImages {
  @include flex(row, nowrap, center);
  width: 90vw;
  height: 90vh;
  overflow: hidden;
  position: relative;

  img {
    width: 85vw;
    height: 95vh;
    object-fit: contain;
    object-position: center;
    position: absolute;
  }
}
