@import '../../../../scss/manifest';

.Backdrop {
  width: 100vw;
  min-height: 100%;
  position: fixed;
  z-index: 997;
  background-color: $back-drop-color;
  left: 0;
  opacity: 0;
  top: -100%;

  &.Show {
    @include animate-one-time(show);
  }
}

@keyframes show {
  0% {
    @include no-display;
    top: -100%;
    filter: blur(100px);
  }

  100% {
    opacity: 1;
    display: block;
    top: 0;
    filter: blur(0);
  }
}
