.DetailIcons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, max-content);
  width: 100%;
  justify-items: center;
  padding: 5px 15px;
  row-gap: 25px;
  margin: 10px 0;
}

.Details {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 15px 0;
  padding: 12px 0;
}

.Details h3 {
  margin: 3px 0 8px 0;
  font-weight: 500;
  font-size: 1.12rem;
}
