.Link {
  text-decoration: none;
  color: rgb(116, 116, 116);
  font-weight: 500;
  font-size: 14.5px;
  padding: 6px;
  transition: all 0.3s ease-in-out;
  /* display: inline-block; */
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.Link:hover {
  color: rgb(0, 89, 255);
}

.linkImage {
  width: 18px;
  display: flex;
  align-items: center;
  margin: 0 8px 0 0;
  color: #ccc;
}

.linkImage.active {
  color: yellowgreen;
}

.linkImage img {
  max-width: 100%;
}

.MenuTitle {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ItemButton {
  display: flex;
  border: 0 none;
  background-color: transparent;
  padding: 15px 4px;
  justify-content: space-between;
  align-items: center !important;
  min-height: 50px;
  cursor: pointer;
}

.IconTextSection {
  display: flex;
}

.Date {
  font-size: 11.5px;
  font-weight: 500;
}

@media (min-width: 1280px) {
  .Link {
    padding: 10px;
  }
}
