@import '../../../scss/manifest';

.envlope-wrapper {
  @include position-absolute(12%, null, null, null);
  height: max-content;
  transform: scale(0) translate(0%);
  opacity: 1;

  &.sending {
    animation: sending 1.8s ease-in-out 0s 1 forwards;
  }
}

#envelope {
  @include width-height(280px, 180px);
  position: relative;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  background-color: darken($site-blue, 15%);
  box-shadow: 0 4px 20px transparentize($color: $shadow-color, $amount: 0.8);
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  /* a little smaller */
  border-top: 98px solid lighten($site-blue, 5%);
  /* a little larger */
  transform-origin: top;
  pointer-events: none;
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
  animation: envelopeCloseFlap 0.5s ease-in 0.6s 1 forwards;
}

.pocket {
  border-left: 140px solid $site-blue;
  border-right: 140px solid $site-blue;
  border-bottom: 90px solid darken($site-blue, 5%);
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  animation: envelopeCloseLetter 0.5s ease-in 0s 1 forwards;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 25%,
      rgba(215, 227, 239, 0.7) 55%,
      #d7e3ef 100%
    );
  }
}

.words {
  @include position-absolute(null, null, null, 10%);
  @include width-height(80%, 14%);
  background-color: $lighter-grey;

  &.line1 {
    @include flex-all-center();
    top: 15%;
    width: max-content;
    padding: 2px;
    height: 7%;
    font-size: 8px;
  }

  &.line2 {
    top: 30%;
  }

  &.line3 {
    top: 50%;
  }

  &.line4 {
    top: 70%;
  }
}

@keyframes sending {
  0% {
    transform: scale(0) translate(0%);
    opacity: 0;
    filter: blur(0);
  }

  25% {
    transform: scale(0.65) translate(0%);
    opacity: 1;
    filter: blur(0);
  }

  50% {
    transform: scale(0.45) translate(0%);
    opacity: 1;
    filter: blur(0);
  }

  75% {
    transform: scale(0.45) translate(0%);
    opacity: 1;
    filter: blur(0);
  }

  100% {
    transform: scale(0.45) translate(500%);
    opacity: 1;
    filter: blur(10px);
  }
}

@keyframes envelopeCloseLetter {
  0% {
    transform: translateY(-60px);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 2;
  }

  100% {
    transform: translateY(0px);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
  }
}

@keyframes envelopeCloseFlap {
  0% {
    transform: rotateX(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
  }

  100% {
    transform: rotateX(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
  }
}
