@import '../../../scss/manifest';

.LikeDislike {
  @include flex(row, nowrap, flex-start);
  width: 100%;
  margin: 4px 20px 2px 20px;
}

.Likes {
  @include flex(row, nowrap, center, center);
  width: 40px;

  & span {
    @include font(12.5px, 400, $medium-grey);
    margin-left: 4px;
  }
}

.AllReactions {
  @include flex(row, nowrap, center, center);
  margin-left: 8px;
  cursor: pointer;
}
