@import '../../../../scss/manifest';

.StarContainer {
  @include flex-all-center();
  @include minmax-height-width(20px, 20px);
  position: relative;
  font-size: 25px;
}

.StarIcon {
  width: 25px;
  display: inline-block;
  color: $medium-grey;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '\002605';
  }

  &.Full {
    color: $star-color;
  }

  &.Half::after {
    @include position-absolute(-6.5px, null, null, -0.5px);
    content: '\002605';
    color: $star-color;
    width: 55%;
    font-size: inherit;
    overflow: hidden;
  }
}
