@import '../../../../scss/manifest';

.StarContainer {
  @include flex-all-center();
  @include minmax-height-width(25px, 25px);
  position: relative;
  font-size: 30px;
}

.StarIcon {
  width: 30px;
  display: inline-block;
  color: $medium-grey;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '\002605';
  }

  &.Full {
    color: $star-color;
  }

  &.Half::after {
    @include position-absolute(-7.5px, null, null, 0);
    content: '\002605';
    color: $star-color;
    width: 50%;
    font-size: inherit;
    overflow: hidden;
  }
}
