@mixin flex-all-center($direction: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: center;
  justify-content: center;
}

@mixin flex-items-center($direction: row, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-flow: column nowrap;
}
