@import '../../../scss/manifest';

.CarBodyCard {
  @include flex-all-center(column, nowrap);
  @include full-height-width;
  @include minmax-height-width(200px, 200px);
  @include font(14px, null, $dark-grey, null);
  padding: 5px;
  position: relative;

  &:hover > .Hover {
    background-color: transparentize($color: $dark-grey, $amount: 0.85);
  }

  &:hover > .Hover.selected {
    background-color: transparentize($color: $site-blue, $amount: 0.9);
  }

  img {
    max-width: 100%;
  }

  span {
    margin: 3px;
  }
}

.Hover {
  @include full-height-width;
  @include transition(all, 0.35s);
  @include position-absolute();
  @include border($light-grey);
  @include flex(row, nowrap, flex-start, null);
  cursor: pointer;

  &.selected {
    background-color: transparentize($site-blue, 0.75);
    border-color: $site-blue;
  }
}
