@import '../../../scss/manifest';

.RecentActivities {
  @include flex-all-center(column, nowrap);
  width: 100%;
  margin: 20px auto;
}

.Activities {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: max-content;
}

@media (min-width: 939px) and (max-width: 1678px) {
  .Activities {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
  }
}
