.TabButtonShell {
  position: relative;
  width: 100%;
  display: grid;
  column-gap: 1px;
}

.TabButton {
  background-color: #527d89;
  color: #fff;
  border: 0 none;
  padding: 12px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  margin: 3px 3px 3px 0;

  min-width: max-content;
}

.TabButton:hover {
  background-color: #0277bd;
}

.TabButton.selected {
  background-color: #0277bd;
}

.Triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
  position: absolute;
  left: 40%;
  top: 34px;
  animation: triangle 0.35s ease-in 1 forwards;
}

@keyframes triangle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
