@import '../../../scss/manifest';

.Container {
  @include minmax-height-width(max-content, max-content);
  padding: 5px;
  margin: 10px 0;
}

.Circle {
  @include width-height(100px, 100px);
  background-color: $success;
  border-radius: 50%;
  box-shadow: $box-shadow;
  transform: scale(0);
  animation: ContainerCircle 0.45s ease-in-out 0s 1 forwards;

  &.Error {
    background-color: $danger;
  }
}

@keyframes ContainerCircle {
  0% {
    transform: scale(0);
    filter: blur(3px);
  }

  50% {
    transform: scale(1.2);
    filter: blur(0);
  }

  100% {
    transform: scale(0.85);
    filter: blur(0);
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  &.circle {
    -webkit-animation: dash 1s ease-in-out;
    animation: dash 1s ease-in-out;
  }

  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1s 0.45s ease-in-out forwards;
    animation: dash 0.9s 0.45s ease-in-out forwards;
  }

  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 1s 0.45s ease-in-out forwards;
    animation: dash-check 1s 0.45s ease-in-out forwards;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
