.FooterNav {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  height: max-content;
  padding: 40px 10px 20px 10px;
  align-items: center;
  position: relative;
}

.FooterLinks {
  display: flex;
  width: 70%;
  height: max-content;
  align-items: flex-start;
  justify-content: space-between;
}

.FooterNav span {
  color: #727272;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: -12px;
}
