.SliderArrows {
  position: absolute;
  right: 15px;
  bottom: 5px;
  display: flex;
  max-width: 120px;
}

@media (min-width: 1024px) {
  .SliderArrows {
    bottom: 15px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .SliderArrows {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .SliderArrows {
    display: none;
  }
}
