.MapArea {
  width: 920px;
  max-width: 95vw;
  height: 500px;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}

.Container {
  padding: 5px 20px;
  display: flex;
  flex-flow: column nowrap;
}

.Container button {
  max-width: 140px;
  margin: auto;
}

.ModalHeaders {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  align-items: center;
  width: 100%;
  margin-bottom: 1px;
}

.ModalHeaders h1 {
  font-size: 1.65rem;
  color: #727272;
}

.ModalHeaders p {
  font-size: 0.81rem;
}
