.textAreaContainer {
  padding: 3px 5px 5px 5px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content;
  width: 100%;
}

.textButtonArea {
  max-width: 100%;
  min-height: 20px;
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: inherit;
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  transition: linear 0.4s;
  transition-property: border, border-radius, background-color;
}

.textButtonArea > ul {
  margin: 1px 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: right;
  align-self: center;
  cursor: pointer;
  padding-right: 4px;
  color: rgb(199, 199, 199);
}

.textAreaCreatePost {
  width: 95%;
  overflow: hidden;
  resize: none;
  min-height: 18px;
  line-height: 20px;
  max-height: 100%;
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0.2);
  outline: none;
  caret-color: #ff4500;
  cursor: text;
  z-index: 1;
}

.textAreaCreatePost,
.textAreaPlaceholder {
  grid-column: 1/-1;
  grid-row: 1;
  font-family: inherit;
  font-size: inherit;
  padding: 9px 8px 9px 19px;
}

.textAreaPlaceholder {
  visibility: visible;
  opacity: 0.45;
  font-weight: bold;
  z-index: 0;
}

.textAreaPlaceholder.disappear {
  visibility: hidden;
  opacity: 0;
}

.countCharsArea {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: 1fr;
  font-size: 11.5px;
  margin-left: 20px;
  margin-bottom: 2px;
}

.maxChar {
  margin-left: 5px;
}
