@import '../../../scss/manifest';

.btn {
  @include flex-all-center();
  @include transition(all, 0.3s);
  @include default-button($smooth-radius, 15px, $default-color, $medium-grey);
  padding: 12px 15px;
  border: 0 none;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  text-decoration: none;

  &.disabled {
    @include disabled;
  }

  &.success {
    background-color: $success;

    &:hover {
      background-color: darken($success, 10%);
    }
  }

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: $site-blue;
    }
  }

  &.danger {
    background-color: $danger;

    &:hover {
      background-color: darken($danger, 10%);
    }
  }

  &.warning {
    background-color: $warning;

    &:hover {
      background-color: darken($warning, 10%);
    }
  }

  &.text {
    background-color: transparent;
    color: $primary;
    text-decoration: underline;

    &:hover {
      color: $site-blue;
    }
  }
}
