@import '../../../scss/variables';
@import '../../../scss/mixins/mixins';

.btn {
  @include flex-all-center(row, nowrap);
  @include transition(all, 0.3s);
  padding: 12px 15px;
  cursor: pointer;
  border: 0 none;
  border-radius: $smooth-radius;
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  text-decoration: none;
  color: $default-color;
  font-size: 15px;

  &.disabled {
    @include disabled;
  }

  &.success {
    background-color: $success;

    &:hover {
      background-color: darken($success, 10%);
    }
  }

  &.primary {
    background-color: $primary;

    &:hover {
      background-color: $site-blue;
    }
  }

  &.danger {
    background-color: $danger;

    &:hover {
      background-color: darken($danger, 10%);
    }
  }

  &.warning {
    background-color: $warning;

    &:hover {
      background-color: darken($warning, 10%);
    }
  }
}
