.FormContainer {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.FormHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: 3px 3px 10px 3px;
  margin: 4px 4px 10px 4px;
  border-bottom: 1px solid #c2c2c2;
}

.header {
  font-weight: 600;
}

.formModal {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
