.DataWindow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  padding: 12px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 999;
  color: #fff;
  box-shadow: -1px -1px 2px black;
}

.DataGroup {
  display: flex;

  padding: 0 14px;
}

.DataGroup {
  border-right: 1px solid #fff;
}

.DataGroup:last-child {
  border-right: 0 none;
}

.DataGroup label {
  font-weight: 700;
  margin-right: 8px;
}

.DataGroup label::after {
  content: ' :';
}

.DataGroup span {
  font-weight: 400;
}
