@import '../../../../../scss/manifest';

.DealerInteractionSection {
  display: flex;
  flex-flow: column nowrap;
  flex: 3;
}

.DealSection {
  @include flex(row, nowrap, center, space-evenly);

  a {
    font-size: 11.5px;
    margin-top: 5px;
  }
}

.RatingTitle {
  font-size: 11.5px;
  margin-bottom: 5px;
}

.DealerRating {
  @include flex(column, nowrap, null, null);
}

.NoReviews {
  @include font(12px, null, $medium-grey, null);
}

.OnlineChat {
  @include flex(row, nowrap, center, space-around);

  button {
    @include minmax-height-width(35px, 110px, 'max');
  }
}
