@import '../../../scss/manifest';

.InfoIcon {
  color: $site-blue;
  font-size: 14px;
  margin: 0 5px 0 0;
  cursor: help;
  z-index: 999;
  position: relative;

  &::after {
    content: '\01F6C8';
    text-align: left;
  }
}
