@import '../../../../../../scss/manifest';

.VehicleHistory {
  @include flex(column, nowrap);
  a {
    text-decoration: none;
    color: $site-blue;
  }

  span {
    @include terms-conditions(left);
    margin: 15px 0;
  }
}
