@import '../../../../../../scss/manifest';

.Reviews {
  @include flex(column, nowrap);
  margin: 10px 0;
  padding: 5px 20px;

  & h3 {
    color: $dark-grey;
    text-align: left;
    margin-bottom: 10px;
  }
}

.Actions {
  @include flex(row, nowrap, center, space-between);
  width: 100%;
  margin: 8px 0;

  button {
    width: 150px;
  }
}

.DropFilter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}
