@import '../../../scss/manifest';

.infoCard {
  @include minmax-height-width(325px, 395px);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  justify-items: center;
  color: $dark-grey;
  margin: 15px 0;

  h3 {
    @include font(18px, null, null, center);
  }
}

.InfoCardImage {
  grid-row: 1/2;
  padding: 5px;
}

.InfoCardImage img {
  max-width: 100%;
}

.InfoCardText {
  @include font(14.3px, null, null, center);
  padding: 0 18px;

  p {
    margin-top: 15px;
  }
}

/*Media Queries for all devices*/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .infoCard {
    margin: 20px 0 5px 0;

    h3 {
      margin: 0;
      font-size: 16px;
    }
  }

  .InfoCardImage img {
    max-width: 80%;
  }

  .InfoCardText p {
    margin-top: 8px;
    font-size: 13px;
  }
}
