@import '../../../scss/variables';
@import '../../../scss/mixins/mixins';

.Direction {
  @include minmax-height-width(40px, 40px, 'max');
  @include flex-all-center(row, nowrap);
  @include transition(all, 0.4s);
  @include border($site-blue);
  background-color: transparent;
  margin: 5px;
  padding: 10px;
  border-radius: $smooth-radius;
  color: $site-blue;
  cursor: pointer;

  &.disabled {
    @include disabled;
  }

  &.left::before {
    @include icon('\002BC7');

    &:hover {
      @include border(transparent);
      background-color: $site-blue;
      color: $default-color;
    }
  }

  &.right::before {
    @include icon('\002BC8');
  }

  &.up::before {
    @include icon('\0025B2');
  }

  &.down::before {
    @include icon('\0025BC');
  }

  &.left:hover,
  &.right:hover,
  &.up:hover,
  &.down:hover {
    @include border(transparent);
    background-color: transparentize($color: $site-blue, $amount: 0.3);
    color: $default-color;
  }
}
