.Direction {
  max-width: 40px;
  max-height: 40px;
  background-color: transparent;
  border: 1px solid rgb(0, 68, 255);
  margin: 4px;
  padding: 10px;
  border-radius: 4px;
  color: rgb(0, 68, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.Direction.disabled {
  color: rgb(172, 172, 172);
  border: rgb(107, 107, 107);
  background-color: rgb(236, 236, 236);
  opacity: 0.5;
  pointer-events: none;
}

.Direction.left:before {
  content: '\002BC7';
  font-size: 25px;
  font-weight: 800;
}
.Direction.right:before {
  content: '\002BC8';
  font-size: 25px;
  font-weight: 800;
}
.Direction.up:before {
  content: '\0025B2';
  font-size: 25px;
  font-weight: 800;
}
.Direction.down:before {
  content: '\0025BC';
  font-size: 25px;
  font-weight: 800;
}

.Direction.left:hover,
.Direction.right:hover,
.Direction.up:hover,
.Direction.down:hover {
  background-color: rgba(0, 89, 255, 0.6);
  color: #fff;
  border: 1px solid transparent;
}
