.FormShell {
  max-width: max-content;
  display: none;
}

.TabShell {
  position: relative;
  width: 100%;
}

.SearchForm {
  background-color: #fff;
  padding: 8px;
  box-shadow: 1px 1px 3px black;
  border-radius: 3px;
  margin-top: 3px;
}

@media (min-width: 900px) {
  .FormShell {
    max-width: max-content;
    width: 680px;
    display: block;
    margin: 0 auto;
  }
}
