@import '../../../scss/manifest';
.CardContainer {
  @include flex(row, nowrap, center);
  @include minmax-height-width(max-content, max-content);
  padding: 5px;
}

.TextSection {
  @include flex(column, nowrap, flex-start);
  margin: 0 3px;

  h4 {
    @include font(15px, 600, $dark-grey);
  }

  p {
    @include font(12.5px, 400, $medium-grey);
    @include ellipsis(115px);
    margin: 0 2px;
  }
}
