@import '../../../scss/manifest';

.Badge {
  @include flex-all-center();
  @include width-height(17px, 17px);
  @include position-absolute(-8px, null, null, 6px);
  @include font(11px, null, $default-color, null);
  background-color: transparentize($color: $danger, $amount: 0.25);
  border-radius: 50%;
  box-shadow: $box-shadow;
}
