.Input {
  max-width: 100%;
  width: 100%;
  padding: 12px 15px;
  margin: 3px;
  background-color: #fff;
  border: 1px solid transparent;
  outline: transparent;
  border-radius: 5px;
}

.Input:focus {
  box-shadow: 0 0 5px yellowgreen;
  border: 1px solid yellowgreen;
}

label {
  width: 100%;
  position: relative;
}

.Input.NotValid {
  border: 1px solid rgb(240, 106, 91);
  background-color: salmon;
}

.Warning {
  position: absolute;
  height: max-content;
  min-height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  width: max-content;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  color: red;
  display: flex;
  align-items: center;
  border: 1px solid red;
  font-weight: 500;
  left: 4%;
  font-size: 0.85rem;
}

.Triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgb(255, 0, 0);
  position: absolute;
  left: 15%;
  top: -10px;
  opacity: 0.7;
}

.WarningContainer {
  display: none;
  opacity: 0;
}

.WarningContainer.Show {
  display: block;
  animation: warning 0.8s ease-in-out 0s 1 forwards;
}

@keyframes warning {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0);
  }

  25% {
    display: block;
    opacity: 0.4;
    transform: scale(0.5);
  }

  50% {
    display: block;
    opacity: 0.6;
    transform: scale(1.2);
  }

  100% {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}
