@import '../../../scss/manifest';

.Input {
  @include border(transparent);
  max-width: 100%;
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  background-color: $default-color;
  outline: transparent;
  border-radius: $smooth-radius;
  z-index: 1;

  &:focus {
    @include border($site-light-green);
    box-shadow: 0 0 3px $site-light-green;
    outline: 0 none;
  }

  &:focus ~ .Label {
    @include input-placeholder-top;
  }

  &.NotValid {
    @include border(lighten($color: $danger, $amount: 25%));
    background-color: lighten($color: $danger, $amount: 30%);
  }
}

label {
  width: 100%;
  position: relative;
}

.Label {
  @include position-absolute(0, null, null, 9px);
  @include transition(all, 0.35s);
  @include font(13px, 600, $medium-grey, null);
  padding: 3px 10px;
  box-shadow: 0 none;

  &.filled {
    @include input-placeholder-top;
  }
}

.Warning {
  @include flex-items-center();
  @include position-absolute(null, null, null, 4%);
  @include width-height(max-content, max-content);
  @include border($danger);
  @include font(0.85rem, 500, $danger, null);
  min-height: 60px;
  background-color: transparentize($color: $default-color, $amount: 0.1);
  margin-top: 10px;
  max-width: 100%;
  padding: 15px;
  border-radius: $smooth-radius;
  box-shadow: $box-shadow;
  z-index: 100;
}

.Triangle {
  @include css-triangle(-10px, null, null, 15%);
}

.WarningContainer {
  display: none;
  opacity: 0;

  &.Show {
    @include animate-one-time(warning);
    display: block;
  }
}

.TextError {
  @include font(11.5px, null, $danger, null);
  margin-top: -5px;
  display: flex;
  margin-left: 8px;
  margin-bottom: 5px;
}

.Label.NotValid {
  color: $danger;

  &::after {
    color: $danger;
    content: '(Required!)';
    font-size: 10.5px;
    margin-left: 5px;
    animation: textAnimation 2s ease-in-out 0s infinite;
  }
}

@keyframes textAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes warning {
  0% {
    display: none;
    opacity: 0;
    transform: scale(0);
  }

  25% {
    display: block;
    opacity: 0.4;
    transform: scale(0.5);
  }

  50% {
    display: block;
    opacity: 0.6;
    transform: scale(1.2);
  }

  100% {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
}
