.Home {
  min-height: 100%;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

.HomeBottomContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.RecentActivities {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.Activities {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: max-content;
}

@media (min-width: 1024px) {
  .HomeBottomContainer {
    width: 65%;
    margin: 10px auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .HomeBottomContainer {
    width: 90%;
    margin: 10px auto;
  }
}
