@import '../../../scss/manifest';

.Counter {
  @include flex(row, nowrap, center, center);
  max-width: max-content;
  height: 20px;

  span {
    @include font(12.5px, 400, $medium-grey);
    margin: 1px 4px 0 0;
  }
}
