.InfoContainer {
  width: 100%;
  height: max-content;
  padding: 25px 0;
}

.InfoContainer h2 {
  margin: 0 0 5px 0;
  color: #727272;
}

.InfoContainer > p {
  font-size: 10px;
  width: 80%;
  margin: 5px auto;
}
