@import '../../../../scss/manifest';

.ModalOverlay {
  @include max-content-wh;
  @include position-absolute(-100%, null, null, 50%);
  @include flex-all-center();
  max-width: 90vw;
  padding: 25px;
  z-index: 999;
  background-color: $default-color;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 5px 5px 6px $shadow-color;

  &.Show {
    @include animate-one-time(show);
  }
}

@keyframes show {
  0% {
    @include no-display;
    top: -100%;
    filter: blur(100px);
  }

  50% {
    opacity: 1;
    display: block;
    top: 50%;
    filter: blur(0);
  }

  100% {
    opacity: 1;
    display: block;
    top: 50%;
    filter: blur(0);
  }
}
