@import '../../../../../../scss/manifest';
.DetailsTable {
  @include flex(column, nowrap, center, null);
  @include border($light-grey, solid, null, 1px);
  width: 100%;
  padding: 10px 25px;
  margin-bottom: 5px;
  overflow: hidden;
}

.TableHeadSection {
  @include flex(row, nowrap, center, space-between);
  width: 100%;
  padding: 10px 0;

  h3 {
    color: $medium-grey;
    font-size: 1.09rem;
    cursor: pointer;
  }
}

.Details {
  transform: translate(-150%) scale(0.7) rotate(90deg);
  filter: blur(5px);
  max-height: 3px;
  opacity: 0;
  transition: all 0.55s ease-in-out;

  &.Show {
    transform: translate(0) scale(1) rotate(0deg);
    max-height: 1200px;
    opacity: 1;
    filter: blur(0);
  }
}
