.cardContainer {
  display: flex;
  margin: 25px 0;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

@media (min-width: 650px) {
  .cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
  }
}
