@import '../../../scss/manifest';

.Card {
  @include width-height(100%, max-content);
  @include border($lighter-grey);
  padding: 15px 10px;
  background-color: $lighter-grey;
  margin: 0 0 10px 0;
}
