$site-background: #f5f6f6;
$black: #000;
$shadow-color: $black;
$box-shadow: 1px 1px 3px $shadow-color;
$lighter-grey: #f5f6f6;
$light-grey: #ccc;
$medium-grey: rgb(148, 148, 148);
$dark-grey: #727272;
$success: rgb(0, 167, 0);
$primary: #527d89;
$danger: rgb(248, 19, 19);
$warning: rgb(255, 173, 21);
$site-blue: #0277bd;
$default-color: #fff;
$site-light-green: yellowgreen;
$smooth-radius: 3px;
$star-color: #ffb100;
