@import '../../../scss/manifest';

.Navbar {
  @include flex(row, nowrap, center, space-between);
  @include border($light-grey, solid, bottom, 1px);
  @include width-height(100vw, 65px);
  max-width: 100%;
  position: fixed;
  top: 0;
  padding: 0 10px;
  z-index: 995;
  background-color: $default-color;
}

.NavLogo {
  @include flex(row, nowrap, center, null);
  @include transition(opacity, 0.35s, null, ease-in-out);
  max-width: 80px;
  height: 100%;
  margin: 0 10px;
  opacity: 0.75;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  img {
    max-width: 60%;
  }
}

.Menu ul {
  width: max-content;
  display: none;
  position: relative;
}

.Account {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  height: 100%;
  margin-left: 15px;
  display: none;
}

.countryPick {
  position: relative;
  width: max-content;
}

.pickedCountry {
  @include flex(row, nowrap, center, null);
  margin-right: 20px;
  cursor: pointer;
}

.pickedFlag {
  width: 18px;

  img {
    max-width: 100%;
    margin-right: 10px;
  }
}

.pickedCode {
  font-size: 16px;
  margin-left: 5px;
}

.icon {
  @include transition(transform, 0.35s, null, ease-in-out);
  @include rotate(0deg);

  &.rotate {
    @include rotate(180deg);
  }
}

.md-icon {
  @include flex(row, nowrap, center, null);
  cursor: pointer;
  font-size: 13.5px;
  position: relative;

  span {
    margin: 0 4px;
  }
}

@media (min-width: 1200px) {
  .Navbar {
    padding: 0 30px 0 30px;
    justify-content: center;
  }

  .NavLogo {
    justify-content: center;

    img {
      max-width: 60%;
    }
  }

  .Menu ul {
    display: flex;
    flex-flow: row nowrap;
    max-width: max-content;
  }

  .Notify {
    display: none;
  }

  .Account {
    @include flex-all-center();
  }

  .AccountIcons {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 14px;
    color: $medium-grey;
  }
}
